.static-width{
    width: 800px;
    height: 800px;
    background-color: #606060;
    background-image: url(https://cdn.akc.org/content/article-body-image/funny-basset_hound_yawning.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}