.static-width{
    width: 800px;
    height: 800px;
    background: url(https://cdn.akc.org/content/article-body-image/funny-basset_hound_yawning.jpg) no-repeat center;
    background-color: #606060;
    background-size: 600px;
}